body {
	border: solid grey;
	border-style: double 3px;
	border-radius: 5px;
	/*box-shadow: 6px 6px 0px orange;*/
	box-shadow: 1px 1px 12px orange;
}

.center {
	text-align: center;
}

.ident h2{
	color: green;
}

.ident h4 {
	margin-top: -10px;
	margin-left: 0px;
}

.ident span {
	margin-left: -40px;
}

h1{
	color: orange;
	text-shadow: 0px 0px 9px gray;
	text-transform: uppercase;
	font-family: 'Gloria Hallelujah';
	margin-bottom: -20px;
}

.titre h2{
	color: #FFBC42;
}

.accroche {
	display: flex;
	justify-content: space-between;
	margin :50px;
	margin-bottom: 100px;

}

.ident h2 {
	color: green;	
}

.photo img {
	width: 150px;
}

.tech img {
	margin : 20px;
}

.git {
	text-decoration: none;
	color: white;
	border: solid black 1px;
	border-radius: 10px;
	padding : 3px;
	background-color: #7200da;
}


h3{
	text-transform: uppercase;
	background: #3ac569 ;
	padding: 10px;
	border: solid grey;
	border-radius: 10px;
	color: white;
	text-align: center;
	box-shadow: 1px 1px 12px orange;
	margin-top: 30px;
	margin-bottom: 40px;
}

.experience h5 {
	color:#56A902;
	margin-top:-20px;
	margin-bottom: -10px;
	text-align: center;
}


strong {
	color:orange;
}

em {
	color: grey;
}

i {
	margin-right: 40px;
}

li {
	list-style: none;
}
/*.formations  li {
	margin-left: 200px;
}

.loisirs  li {
	margin-left: 200px;
} */